.waiting-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.waiting-message {
  font-size: calc(14px + 2vmin);
  font-weight: 500;
  margin-left: 1rem !important;
}

.round-start {
  font-size: calc(14px + 2vmin);
  font-weight: 500;
  color: chocolate;
}

.answer {
  align-items: center;
  text-align: left;
}

.answer-border-correct {
  border: 5px solid green;
  border-radius: 12px;
}

.answer-border-wrong {
  border: 5px solid red;
  border-radius: 12px;
}
